#top {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: center;
}

#bottom {
    display: flex;
    justify-content: center;
}

#spacer {
    height: 40px;
    width: 100%;
}


#previous {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 120px;
}

#next {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 120px;
} 

#sources {
    display: flex;
    justify-content: center;
}

#heading {
    text-align: center;
}